@import url('https://fonts.googleapis.com/css?family=Lobster&desplay=swap');

body {
    font-family: 'Lobster', cursive;
    margin: 0;
    padding: 5rem;
}

.full-screen {
    width: 100vw;
    height: 100vh;
}

.flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.text-xl {
    font-size: 3rem;
}